header {
    margin:auto ;
    display:flex;
    width:70%;
    justify-content: space-between;
    align-items: center;

}
h1{
    font-weight: 600;
    font-family: Tahoma, sans-serif;
    font-size: 60px;
  }
.span-header{
    font-weight: 100;
    color: rgb(104, 104, 104);
    font-family: Tahoma, sans-serif;
   
  }

  

.add-list{
    display: flex;
    flex-wrap: wrap;
    
    font-size: 24px;
    color: rgb(104, 104, 104);
} 
.span-add-list{
    font-weight: 100;
    color: rgb(104, 104, 104);
    font-family: Tahoma, sans-serif;
    margin-left: 5px;
    margin-top: 2px;
  }
.cards-container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}

.cards{
    font-family: Tahoma , sans-serif;
    min-width: 300px;
    height: 55vh;
    text-align:center;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 10px;
    border: solid 2px rgb(251, 113, 0);
    border-radius:10px;
    box-shadow: 2px 4px 15px rgb(135, 138, 141);
}

.list-name{
    color: rgb(255, 123, 0);
}
  
.hrzz{
     color: rgb(78, 78, 78);
     margin-left: 20%;
}

.complete-task{
      color: red;
    text-decoration: line-through;
}

.chk-box{
      margin-left:-30px;
      cursor: pointer;
      
}  

.container-mob-hidn{
    display: none;
}


@media (max-width:500px){
    .span-add-list{
        display: none;
    }

    .cards-container{
        display: none;
    }

    h1 {
        font-size: 40px;
      }

    .container-mob-hidn{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 20px;
    }

    .cards-mob-hidn{
        display: block;
        font-family: Tahoma , sans-serif;
        width: 85%;
        min-height: 100px;
        border: solid 1px rgb(251, 113, 0);
        border-radius:10px;
        box-shadow: 2px 4px 15px rgb(135, 138, 141);
        text-align:center;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 10px;
    }
    
    .cards-mob-hidn h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 100;
    }

    .cards-mob-hidn a{
        text-decoration: none;
        color:rgb(61, 60, 60);
    }

}